<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook – log in or sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="fb-container">
        <div class="fb-left">
            <div class="fb-logo">Embedded systems 2025</div>
            <div class="fb-desc">
                Connect with friends and the world around you on Facebook.
            </div>
        </div>
        <div class="fb-right">
            <a href="/about" class="fb-btn">About Us</a>
            <a href="/monitor" class="fb-btn">Monitor</a>
        </div>
    </div>
</body>

</html>